/* Comments */
.comment-list, .comment-list ol {
	list-style: none;
	margin: 0 0 25px 0;
	border-top: 1px solid #dfdfdf;
	}
.comment-list li {
	padding: 25px 25px 0 25px;
	border: 1px solid #dfdfdf;
	border-top: none;
	}

.comment-list .avatar {
	float: left;
	width: 40px;
	height: 40px;
	margin: 0 15px 10px 0;
	padding: 2px;
	border: 1px solid #eee;
	}

.comment-meta {
	margin: 0 0 25px 0;
	font-size: 14px;
	color: #999;
	}
.comment-meta .comment-author cite {
	font-family: Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #858585;
	}
.comment-meta a {
	font-style: normal;
	color: #666;
	border-bottom: 1px dotted #ccc;
	}
.comment-meta a:hover {
	color: #000;
	border-bottom: 1px dotted #333;
	text-decoration: none;
	}
.comment-text {
	color: #555;
	}

.comments-closed {
	padding: 10px 25px;
	font-size: 14px;
	color: #666;
	background: #f9f9f9;
	border-left: 5px solid #ddd;
	}

/* Comment form */
#respond {
	overflow: hidden;
	}
.comment-list #respond {
	margin-top: 25px;
	}
#respond .log-in-out {
	font-size: 15px;
	color: #777;
	}
#respond .log-in-out a {
	font-style: italic;
	}
#reply-title small a {
	font: italic normal normal 14px/25px Georgia, Times, 'Times New Roman', serif;
	}

#respond label {
	font: normal normal normal 13px/25px Arial, Verdana, sans-serif;
	color: #bbb;
	}
#respond p.req label {
	color: #888;
	}
#respond span.required {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	}
#respond #submit {
	float: left;
	margin-bottom: 25px;
	}
